<!-- bootstrap.js는 jquery에 의존-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- js 호출 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<!-- springBoot는 기본적으로 src/main/resources/static 에 위치한 js,css,img 등 정적 파일은 URL에서 / 로 설정됨 -->
<script src="/js/app/index.js"></script>
</body>
</html>